[submodule "openssl"]
	path = openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "git"]
	path = git
	url = git@github.com:opscode-cookbooks/git.git
[submodule "chef-curl"]
	path = curl
	url = git@github.com:phlipper/chef-curl.git
